body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	margin: 0px;
	text-align: center;
}

.header {
	width: 100%;
	background-color: white;
}

.navbar {
	margin: 30px;
}

.splash {
	height: 250px;
	background-image: url("./images/banner.png");
	background-size: cover;
	margin: auto;
}

.navbar a {
	color: black;
	font-size: 1.2em;
	margin: 10px;
	text-decoration: none;
}

.navbar a:hover {
	color: purple;
}

.content {
	display: flex;
	justify-content: space-around;
	margin: auto;
}

.col-half {
	line-height: 1.2em;
	padding: 20px;
	width: 40%;
	text-align: justify;
	text-indent: 25px;
}

.col-whole {
	line-height: 1.2em;
	padding: 20px;
	width: 80%;
	text-align: left;
}

.p {
	text-align: justify;
	text-indent: 25px;
}
